# act -e .github/samples/push_tags_event.json -s SSH_PRIVATE_KEY="$(< ~/.ssh/id_rsa_devops)" -s NPM_TOKEN="$(< .github/samples/.npm_token)" --env dryrun=true --insecure-secrets

name: Node.js Package

on:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        id: pnpm-install
        with:
          version: 9
          run_install: false

      # - name: Get pnpm store directory
      #   id: pnpm-cache
      #   run: |
      #     echo "::set-output name=pnpm_cache_dir::$(pnpm store path)"

      # - uses: actions/cache@v3
      #   name: Setup pnpm cache
      #   with:
      #     path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
      #     key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
      #     restore-keys: |
      #       ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: build projects
        run: pnpm build

      - name: run tests
        run: pnpm test

  publish-package:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'
      
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        id: pnpm-install
        with:
          version: 9
          run_install: false

      - name: Install dependencies
        run: pnpm install

      - name: build projects
        run: pnpm build

      - name: run-publish
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          chmod +x ${GITHUB_WORKSPACE}/.github/scripts/publish-package.sh
          ${GITHUB_WORKSPACE}/.github/scripts/publish-package.sh
        shell: bash
